/**
* General Styling
*/

body {
  margin: 0;
  padding: 0;

}

.page-wrap {
  width: 100%;
  height: 100vh;
  background-color: #FFCC66;
}

* {
  font-family: 'Khula', sans-serif;
}

.selected-card {
  border: 3px solid #99A7D3;
}

/**
* App Styling
*/

.container {
  max-width: 1000px;
  height: 100vh;
  display: flex;
  overflow: auto;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 0 15px;
}

.app-wrap {
     position: relative;
  width: 750px;
  background-color: #fcfcfc;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.10), 0 6px 6px rgba(0,0,0,0.13);
  min-height: 550px;
  display: flex;
  flex-wrap: wrap;
}

/**
* Wallet Styling
*/

.wallet-wrap {
  flex: 1;
  background-color: #F2F2F2;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 20px 35px 0 35px;
  color: #828693;
  height: 550px;
  overflow-y: auto;
}

.wallet-head-wrap {
  padding: 0px 10px 0px 0px;
  padding-bottom: 10px;
}

.wallet-head-wrap h3 {
  position: relative;
  font-weight: 100;
}

.wallet-head-wrap h3 a {
  position: absolute;
  right: 0;
  top: 3px;
  cursor: pointer;
  color: #C6CCE2;
}

.wallet-content-wrap {
  height: 79%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.wallet-content-wrap .card {
     position: relative;
  height: 100px;
  max-width: 213px;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  padding: 13px 11px;
  cursor: pointer;
  margin: 10px 0;
}

.wallet-content-wrap .card:hover .delete-card {
     opacity: 1;
     visibility: visible;
}

.wallet-content-wrap .card .delete-card {
     position: absolute;
     right: 8px;
     top: 5px;
     color: #C6CCE2;
     opacity: 0;
     visibility: hidden;
     -webkit-transition: all .1s;
     transition: all .1s;
}

.wallet-content-wrap .delete-card:hover {
     color: firebrick;
}

.wallet-content-wrap .card .credit-card {
  width: 40px;
  height: 30px;
  border-radius: 3px;
  background-color: #48A0DC;
}

.wallet-content-wrap .card-number p {
  letter-spacing: 1px;
  margin-bottom: 0;
}

.wallet-content-wrap .expiration-date p {
  color: #d2d2d2;
  margin: 3px 0 0 0;
  font-size: 14px;
}

/**
* Transaction Styling
*/

.transaction-wrap {
  flex: 2;
  border-left: 1px solid #eee;
  padding: 20px 35px 0px 35px;
  height: 550px;
  overflow-y: auto;
}

.transaction-head-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 35px 20px 35px;
  border-bottom: 2px solid #f4f4f4;
}

.transaction-title-wrap {
  flex-basis: 150px;
}

.transaction-title-wrap h3 {
  color: #828693;
  font-weight: 100;
  margin: 0;
  padding-top: 3px;
}

.transaction-balance-wrap {
  flex-basis: 125px;
  text-align: right;
}

.transaction-balance-wrap span {
  color: #54575F;
  font-weight: bold;
  font-size: 25px;
}

.transaction-list-wrap {
  padding-top: 25px;
     position: relative;
}

.add-transaction-wrap {
     position: absolute;
     right: 0;
     top: 10px;
}

.add-transaction-wrap a {
     cursor: pointer;
     color: #C6CCE2;
     font-size: 18px;
}

.transaction-item-wrap {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.transaction-subtracting {
  height: 15px;
  width: 18px;
  padding-top: 10px;
}

.transaction-subtracting span i {
  padding-left: 0px;
  color: #ddd;
  border: 1px solid #ddd;
  border-radius: 100%;
  font-size: 10px;
  padding: 2px 3px;
  color: #828693;
}

.transaction-title {
  padding-left: 15px;
  flex-basis: 250px;
}

.transaction-title p {
  color: #54575F;
  font-weight: bold;
  margin: 0;
}

.transaction-title span {
  color: #bdbdbd;
  font-size: 13px;
}

.transaction-cost {
  padding-top: 10px;
  text-align: right;
  flex-basis: 85px;
}

.minus span {
  color: #A1ADD6;
  font-weight: bold;
}

.plus span {
  color: #7CD256;
  font-weight: bold;
}

/**
* Card Adding Modal
*/

.wallet-creation-modal {
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     background: rgba(0,0,0, .8);
     z-index: 999;
     display: none;
     opacity: 0;
     visibility: hidden;
     padding: 15px;
     border-radius: 5px;
}

.wallet-creation-modal--show {
     display: flex;
     opacity: 1;
     visibility: visible;
}

.wallet-creation-form-wrap {
     position: relative;
     background-color: #fcfcfc;
     width: 100%;
     border-radius: 5px;
}

.wallet-creation {
     display: table;
     margin: auto;
     text-align: center;
     width: 300px;
     max-width: 300px;
     padding-top: 35px;
}

.wallet-creation label {
     display: block;
     font-weight: bold;
     color: #828693;
     margin-top: 20px;
}

.wallet-creation input {
     display: block;
     margin: 10px 0;
     width: 90%;
     padding: 8px 12px;
     border-radius: 5px;
     border: 1px solid #ddd;
}

.wallet-creation .submit-btn {
     display: table;
     background-color: #A1ADD6;
     color: #fff;
     padding: 8px 25px;
     margin: 20px auto 0 auto;
     cursor: pointer;
     border-radius: 5px;
}

.close-box {
     position: absolute;
     top: 15px;
     right: 15px;
}

.close-box a {
     color: #C6CCE2;
     cursor: pointer;
     font-size: 20px;
}

/**
* Transaction Adding Modal
*/

.transaction-creation-modal {
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     background: rgba(0,0,0, .8);
     z-index: 999;
     display: none;
     opacity: 0;
     visibility: hidden;
     padding: 15px;
     border-radius: 5px;
}

.transaction-creation-modal--show {
     display: flex;
     opacity: 1;
     visibility: visible;
}

.transaction-creation-form-wrap {
     position: relative;
     background-color: #fcfcfc;
     width: 100%;
     border-radius: 5px;
}

.transaction-creation {
     display: table;
     margin: auto;
     text-align: center;
     width: 300px;
     max-width: 300px;
     padding-top: 0px;
}

.transaction-creation label {
     display: block;
     font-weight: bold;
     color: #828693;
     margin-top: 20px;
}

.transaction-creation input {
     display: block;
     margin: 10px 0;
     width: 90%;
     padding: 8px 12px;
     border-radius: 5px;
     border: 1px solid #ddd;
}

.transaction-creation .submit-btn {
     display: table;
     background-color: #A1ADD6;
     color: #fff;
     padding: 8px 25px;
     margin: 20px auto 0 auto;
     cursor: pointer;
     border-radius: 5px;
}

.close-box {
     position: absolute;
     top: 15px;
     right: 15px;
}

.close-box a {
     color: #C6CCE2;
     cursor: pointer;
     font-size: 20px;
}
